#定义变量=号对齐
AlignConsecutiveAssignments: true
#运算符对齐
AlignOperands: true
#多行字符串换行
AlwaysBreakBeforeMultilineStrings: false
#大括号前换行
BreakBeforeBraces: Allman
#对齐符个数
IndentWidth: 8
#使用制表符
UseTab: Always
#每行最多显示列数
ColumnLimit: 1000
#switch中的case语句缩进一级
IndentCaseLabels: true
#指针的*号靠左
PointerAlignment: Left

